@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
    animation: slideIn 0.5s ease-out;
}

.contact a{
    color: white
}